@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
body {
    background-color: #eaeaea;
    font-family: sans-serif;
    color: #050505;
    font-size: 14px;
}

.form-control {
    font-size: 14px;
}

@media screen and (min-width: 994px) {
    .form-control {
        width: 350px;
    }
}

@media screen and (max-width: 994px) {
    .navbar-nav {
        text-align: center;
    }
}


/*Icon*/

.img-Icon {
    width: 50px;
}

.img-Icon:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.row-container {
    background-color: #fff;
    margin: 0px;
}


/*Style Produk*/

.card:hover {
    border: 1px solid #050505;
}